.article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__left {
    width: 25%;
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
    .image {
      width: 100%;
      height: auto;
    }
  }
  &__right {
    box-sizing: border-box;
    width: 75%;
    padding: 0 20px;
    @media screen and (max-width: $break-small) {
      width: 100%;
      padding: 0;
    }
  }
}