.cart-view {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .cart {
    width: 50%;
    box-sizing: border-box;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
    padding: 0 20px;
    .cart-item {
      border-bottom: solid 1px #d3d3d3;
      padding: 10px 0;
      &__name {
        &--legend {
          color: #333333;
        }
        &--value {
          font-weight: bold;
        }
      }
      &__price {
        &--legend {
          color: #333333;
        }
        &--amount, &--currency {
          font-weight: bold;
        }
      }
      .quantity-bar {
        .quantity {
          &--legend {
            color: #333333;
          }
          &--value {
            font-weight: bold;
          }
        }
      }
    }
  }
  .quote {
    width: 50%;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
    padding: 0 20px;
    box-sizing: border-box;
    .quote-items {
      .quote-item {
        border-bottom: solid 1px #d3d3d3;
        padding: 10px 0;
        width: 100%;
        &__total-quantity {
          display: flex;
          justify-content: space-between;
        }
        &__total {
          display: flex;
          justify-content: flex-end;
          &--legend {
            color: #333333;
          }
          &--amount, &--currency {
            font-weight: bold;
          }
        }
        &__name {
          &--legend {
            color: #333333;
          }
          &--value {
            font-weight: bold;
          }
        }
        &__quantity {
          &--legend {
            color: #333333;
          }
          &--value {
            font-weight: bold;
          }
        }
        &__price {
          &--legend {
            color: #333333;
          }
          &--amount, &--currency {
            font-weight: bold;
          }
        }
      }
    }
    .quote-total {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &__legend {
        color: #333333;
      }
      &__value {
        &--amount, &--currency {
          font-weight: bold;
        }
      }

    }
  }
}
