.cart-view {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .cart {
    width: 50%;
    box-sizing: border-box;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
    padding: 0 20px;
    .cart-item {
      border-bottom: solid 1px #d3d3d3;
      padding: 10px 0;
    }
  }
  .quote {
    width: 50%;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
    padding: 0 20px;
    box-sizing: border-box;
    .quote-items {
      .quote-item {
        border-bottom: solid 1px #d3d3d3;
        margin-top: 5px;
      }
    }
  }
}
