.catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  .catalog-item {
    margin: 10px;
    width: 360px;
    &__price {
      font-size: smaller;
      font-style: italic;
    }
    &__image {
      width: 100%;
      height: auto;
    }

  }
}